
.swiper {
  width: 10rem;
  height: 10rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
