
.swiper {
  padding-top: 2rem;
width: 44vw;
height: 44vh;

}

.swiper-slide {
 
  text-align: center;
  font-size: 1rem;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  
  display: block;
  width: 44vw;
  height: 44vh;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
