
.swiper {
width: 40rem;
height: 20rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100rem;
  height: 100rem;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
