.container {
  padding-top: 2rem;
  font-family: 'Electrolize', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80vw;
  color: #c4c4c4;
  filter: drop-shadow(0.32rem 0.1rem 0.2rem #000000);
}

.container h1 {
  padding: 2rem;
}

.projectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem; /* Aumenta el espacio entre las tarjetas a 2rem */
  width: 100%;
  max-width: 1200px; /* Establece un ancho máximo para el contenedor */
  font-size: 1rem;
}

.projectCard {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  width: 100%; /* Asegura que las tarjetas ocupen todo el ancho disponible */
  max-width: 400px; /* Aumenta el ancho máximo de las tarjetas a 400px */
  margin: 0 auto; /* Centra horizontalmente las tarjetas */
}

.projectImage {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Establece un alto máximo para las imágenes */
}
