.container {
  padding-top: 2rem;
  font-family: 'Electrolize', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  width: 80vw;
  color: #c4c4c4;
  filter: drop-shadow(0.32rem 0.1rem 0.2rem #000000);


}


.container h1 {
  padding: 2rem;
  color: #c4c4c4;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255,87,51);
  background: linear-gradient(0deg, rgba(255,87,51,0.5) 0%, rgba(147,0,25,0.5047268907563025) 73%);
  opacity: 0.65; 
  border-radius: 5px; 
  z-index: -1; 
}

.projectCard {
  position: relative; 
  width: 48%;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.projectImage {
  
  width: 100%;
  max-height: 400px;
  object-fit:fill;
  border-radius: 5px;
}
.projectLinks {
  margin-top: 10px;
}
.projectInfo {
  text-align: center;
}
.projectLinks a {


  display: block;
  
  text-decoration: none;
  color: #c4c4c4;
}
@media (max-width: 768px) {
  .projectCard {
    width: 100%;
  }
}